{%   extends 'base.html'%}


{% block content%}

<div class="container">
    <div class="col-md-12 mt-5">
        <form action="" method="POST" novalidate>
            {%csrf_token%}
        <div class="card">
            <div class="card-header text-center" >
                <i class="fas fa-user-lock"> Creation du compte au blog</i>
            </div>
            <div class="card-body">
                 {{form}}
                <button class="btn btn-primary btn-block">S'inscrire</button>
               </div>

            </div>
        </div>
    </form>
    </div>
   
</div>





{%endblock%}