{%extends 'base.html'%}
  	{% block content%}
    <h1 class="text-center"> WELCOME TO MY BLOG</h1>
    <div class="container">
      <div class="row">
      	{%for article in list_articles%}
      	<div class=" col-12 col-md-6 col-lg-3 col-xl-3">
       <div class="card">
     <div >
    
    <a href="{% url 'detail' article.id   %}">
      <img class="card-img-top" src="{{article.image.url}}"style="height: 150px;" />
    </a>
  </div>
  <div class="card-body" style="height: 240px;">
    <h5 class="card-title">   <a href="{% url 'detail' article.id   %}"> {{article.title}}</a></h5>
    <p class="card-text">{{article.desc|truncatewords:8}}</p>
    <p class="card-text">Publié il y a {{article.created_at|timesince}}</p>

    <a href="{% url 'detail' article.id   %}" class="btn btn-primary">Lire la suite</a>
  </div>
 </div>
</div>
{%endfor%}
      </div>

    {%endblock%}